In [1]:
#importing needed packages
import pandas as pd
import os
import glob

In [2]:
#Read all csv files from data folder
csv_files = glob.glob('data/*.{}'.format('csv'))
csv_files

['data\\daily_sales_data_0.csv',
 'data\\daily_sales_data_1.csv',
 'data\\daily_sales_data_2.csv']

In [3]:
#Read data from all files using pandas
df = pd.concat([pd.read_csv(f) for f in csv_files], ignore_index=True)
df.shape

(41160, 5)

In [4]:
#Drop the rows which don't contain information about Pink Morsels 
df.drop(df[df['product'] != "pink morsel"].index, axis=0, inplace=True)
df.sample(5)

           product  price  quantity        date region
40994  pink morsel  $5.00       445  2022-02-09   east
12572  pink morsel  $3.00       555  2019-05-01  north
15932  pink morsel  $3.00       524  2019-08-29  north
22541  pink morsel  $3.00       507  2020-04-21  south
36737  pink morsel  $5.00       473  2021-09-10  south

In [5]:
df['price'] = df['price'].str.replace('$', '')
df['sales'] = df['price'].astype('float') * df['quantity']
df.drop(['product', 'price', 'quantity'], axis=1, inplace=True)
df.sample(5)

             date region   sales
30185  2021-01-19  south  2105.0
19882  2020-01-17   east  1665.0
1653   2018-04-06  south  1752.0
7309   2018-10-25  south  1587.0
26070  2020-08-25   east  1605.0

In [6]:
#write a dataframe to a single file without index
df.to_csv("output/output_task1.csv", index=False)